.TransactionCardItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
}
.TransactionCardItem div{
    display: flex;
    flex-direction: row;
}
